@font-face {
    font-family: FontAwesome;
    src: url(fontawesome.eot);
    src: url(fontawesome.eot?#iefix&v=4.5.0) format("embedded-opentype"),
    url(fontawesome.woff2) format("woff2"),
    url(fontawesome.woff) format("woff"),
    url(fontawesome.ttf) format("truetype"),
    url(fontawesome.svg) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: local('Merriweather Light'), local('Merriweather-Light'), url(merriweather-light.woff) format('woff');
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather'), local('Merriweather-Regular'), url(merriweather-regular.woff) format('woff');
}
html {
    font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
    font-size: 81.25%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.84615em;
}
body, html {
    margin: 0;
    padding: 0;
}

body {
    font: 13px/1.5em Helvetica,Arial,"Nimbus Sans L",sans-serif;
    background: #f4f4f4;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    background: #fff url(header-bg.png) no-repeat center top;
}

.header-wrapper {
    padding: 11px .615em 6px;
    color: #353535;
    font-size: .769em;
    font-family: "Merriweather",Georgia,"Times New Roman","DejaVu Serif",serif;
    font-style: italic;
    line-height: 1em;
}

.whitehouse {
    font-size: 1.1em;
}

.header-navbar {
    position: relative;
    background: rgba(0,60,128,0.82);
    height: 40px;
}

.header-navbar:after {
    content:'';
    background: url(wh_logo_seal.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: -17.5px;
    left: 50%;
    width: 70px;
    height: 56px;
    margin-left: -35px;
    text-align: center;
}

.header-navbar:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f0c9";
    color: white;
    font-size: 26px;
    padding: 10px 8px;
    border-right: 1px solid #313131;
}

.social {
    padding: 15px 0;
    color: #666;
    font-size: 1.53846em;
    line-height: 1.8em;
    font-family: FontAwesome;
    display: flex;
    align-items: center;
    background: transparent url(border-h.jpg) bottom repeat-x;
}

.social > li {
    padding-right: 20px;
}

.twitter:after {
    content: "\f099";
}

.instagram:after {
    content: "\f16d";
}

.facebook:after {
    content: "\f09a";
}

.comment:after {
    content: "\f075";
    color: #6394c5;
    padding-left: 20px;
    background: transparent url(border.png) left repeat-y;
}

footer {
    background: transparent url(border-h.jpg) top repeat-x;
    margin-top: 10px;
    padding: 0 2.5%;
}

.footer-nav {
    padding: 20px 10px;
    background: transparent url(border-h.jpg) bottom repeat-x;
}

.footer-nav > li {
    margin-bottom: 14px;
    color: #313131;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
}

.footer-links {
    padding: 1px 10px 15px;
}

.footer-links > li {
    margin: 15px 0;
}

.banner {
    width: 100%;
}

.quote {
    padding: 30px 30px 13px;
    color: #434343;
    font-size: 24px;
    font-family: "Merriweather",Georgia,"Times New Roman","DejaVu Serif",serif;
    text-align: center;
}

.pres {
    margin-top: 8px;
    font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #434343;
    letter-spacing: .13px;
    text-align: center;
}

.panel {
    background: white;
    padding: 30px 15px;
    margin-bottom: 10px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
}

.color-bar {
    border-top: 6px solid #880000;
}

.sign-up {
    font-family: "Merriweather",Georgia,"Times New Roman","DejaVu Serif",serif;
    font-size: 35px;
    line-height: 38px;
    text-align: center;
    padding: 0 15px;
}

.email, .zip {
    padding: 0 15px;
    border-radius: 3px;
    height: 38px;
    font-size: 13px;
    font-family: Arial,"Liberation Sans",FreeSans,sans-serif;
    border: 1px solid #c1c1c1;
    background-image: linear-gradient(to bottom,#efefef 0%,#f4f4f4 2%,#f6f6f6 4%,whitesmoke 10%,#f8f8f8 22%,#fcfcfc 80%,#fcfcfc 88%,#fafafa 90%,#fcfcfc 92%,#f9f9f9 94%,#fcfcfc 96%,#fcfcfc 98%,#f6f6f6 100%);
    text-align: left;
    color: #aaa;
}

.email {
    margin-top: 20px;
}

.join {
    flex: 1;
    margin-left: 10px;
}

.btn {
    background-color: #4483bd;
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#64a3e3),color-stop(100%,#4483bd));
    background-image: -webkit-linear-gradient(top,#64a3e3,#4483bd);
    background-image: -moz-linear-gradient(top,#64a3e3,#4483bd);
    background-image: -o-linear-gradient(top,#64a3e3,#4483bd);
    background-image: -ms-linear-gradient(#64a3e3,#4483bd);
    background-image: linear-gradient(top,#64a3e3,#4483bd);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
    border: none;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    font-family: "Source Sans Pro","Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
    font-weight: bold;
    line-height: 1;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.zip {
    flex: 1;
    margin-right: 10px;
}

.sbs {
    margin: 10px 0 30px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: "Merriweather",Georgia,"Times New Roman","DejaVu Serif",serif;
    font-size: 24px;
    line-height: 27px;
}

.content {
    margin: 7px 0 16px;
    font-size: 16px;
    font-family: "Source Sans Pro","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Nimbus Sans L",sans-serif;
    font-weight: normal;
    line-height: 24px;
    color: #333;
}