@font-face {
    font-family: NeoPrint;
    src: url("NeoPrintM319.otf") format("opentype");
}

@font-face {
    font-family: bsod;
    src: url('bsod.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0414A7;
    color: white;
    padding-top: 40px;
    overflow: hidden;
}

.background {
    font-family: bsod, monospace;
    width: 470px;
    white-space: nowrap;
    font-size: 12px;
    margin-left: -235px;
    padding-left: 50%;
    -webkit-filter: blur(0.8px);
    filter: blur(0.8px);
    position: absolute;
    top: 50%;
    margin-top: -144px;
}

.content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    text-align: center;
    font-family: NeoPrint, sans-serif;
    font-size: 5vmin;
    line-height: 1.5;
    transform: rotate(-35deg);
    text-shadow: #0414A7 0px 0px 20px;
    white-space: nowrap;
}

.camp {
    font-size: 6.3vmin;
}
