@font-face {
    font-family: Futura;
    src: url("Futura.ttf") format("truetype");
}

@font-face {
    font-family: Futura;
    font-weight: bold;
    src: url('Futura-ExtraBold.otf') format('opentype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: black;
    color: red;
    font-family: Futura, sans-serif;
    text-align: center;
}

.snaggle {
    fill: white;
    height: 50%;
}

.totenkidden {
    height: 50%;
}

.totenkidden .str0 {stroke:white;stroke-width:0.0208346;}
.totenkidden .fil1 {fill:black; stroke:none;}
.totenkidden .fil0 {fill:white;}

.main {
    border: 2px solid red;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    font-size: 13vw;
    line-height: 1;
    margin: 10px 0;
}

.sub {
    display: block;
}