@import 'HCo_fonts.css';

@font-face {
    font-family: 'Haas';
    font-style: normal;
    font-weight: 600;
    src: url(NHaasGroteskDSPro-65Md.woff2) format("woff2")
}

@font-face {
    font-family: 'Haas';
    font-style: normal;
    font-weight: 400;
    src: url(NHaasGroteskDSPro-55Rg.woff2) format("woff2")
}

html, body { margin: 0; padding: 0; }

header {
    padding: 0 20px;
    height: 44px;
    background: black;
    font-family: "HCo Verlag", "CenturyGothic", AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #fff;
    font-size: 0.6875rem;
    letter-spacing: .2em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-down {
    height: 1.5rem;
    width: 0.8em;
    fill: currentColor;
    margin-left: 0.4375rem;
    top: -.07em;
    position: relative;
    vertical-align: middle;
}

.search {
    height: 1.4375rem;
    min-width: 1.4375rem;
    max-width: 1.4375rem;
    margin-left: auto;
}

.burger {
    height: 28px;
    min-width: 28px;
    max-width: 28px;
    margin-right: 20px;
    margin-left: 35px;
}

.logo:before {
    content: '';
    height: 50px;
    min-width: 34.89px;
    max-width: 34.89px;
    border: 5px solid #ffcd05;
    box-sizing: border-box;
    margin-right: 5px;
}

.logo {
    margin-left: 1.25rem;
    font-family: "HCo Verlag", "CenturyGothic", AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 1;
    display: flex;
    align-items: center;
}

footer {
    background: #e6e6e6;
    box-sizing: border-box;
    padding: 2.5em 1.875em;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    list-style: none;
}

h3 {
    border-left: 1px solid #808080;
    padding-left: 30px;
    font-family: "HCo Verlag", "CenturyGothic", AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: 0.1em;
    line-height: 1.05;
    margin-top: 0;
    text-transform: uppercase;
    word-spacing: 0.05em;
}

.social-icons {
    margin-top: 1.25em;
}

.social-icons > li {
    display: inline;
    margin-right: 30px;
}

.social-icons svg {
    fill: currentColor;
    height: 1.5rem;
    width: 1.5rem;
}

.footer-links {
    font-family: "HCo Verlag", "CenturyGothic", AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    font-size: 0.8125em;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 1.05;
    margin-bottom: 1.25em;
    text-transform: uppercase;
    word-spacing: 0.05em;
    color: #808080;
}

.footer-links > li {
    margin: 5px 0;
    line-height: 18px;
}

.copyright {
    color: #808080;
    font-family: "Haas", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.43;
}

.subscribe {
    background: #f2f2f2;
    box-sizing: border-box;
    padding: 2.5em 1.875em;
}

.input {
    border: 0;
    box-sizing: border-box;
    color: #808080;
    font-family: "HCo Verlag", "CenturyGothic", AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    font-size: 0.875em;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 1em 2em;
    text-transform: uppercase;
    background: white;
    margin-bottom: 1.0625rem;
}

.button {
    border: 0;
    box-sizing: border-box;
    font-family: "HCo Verlag", "CenturyGothic", AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    font-size: 0.875em;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 1em 2em;
    text-transform: uppercase;
    background: black;
    color: white;
    text-align: center;
}

.privacy {
    margin: 0;
    padding: 1.2em 0;
    color: #999;
    font-family: "Haas", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: .6px;
}

.privacy > a {
    color: #999;
}